.middle {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    background: linear-gradient(to right, #21211f, black);
}

.intro-div{
    width: 50%;
    height: 50vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 26px;
    color: white;
}