.middle {
    width: 100%;
    margin: 0%;
    padding-top: 5vw;
    justify-content: center;
    background: linear-gradient(to right, #21211f, rgb(32, 33, 37));
}

.upper-intro {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.intro-div{
    width: 60%;
    height: 50vh;
    /* position: absolute;
    left: 35%;
    top: 50%; */
    /* transform: translate(-50%,-50%); */
}

.header-title {
    margin: 0%;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
}

.intro-title {
    margin: 10px;
}

.discription {
    font-size: 16px;
    color: white;
    font-family: sans-serif;
}

.image-container {
    width: 20%;
    height: 40vh;
    background-color: black;
}


.social-portion{
    padding: 15px;
    justify-content: center;
}

.social-sites{
    margin: 10px;
    display: inline-flex;
}

.social-items{
    margin: 10px;
    padding: 10px;
    display: block;
    align-items: center;
    background-color: #151514;
}

.header-view {
    width: 100%;
    display: flex;
    justify-content: center;
}
.service-header{
    width: 80%;
}

.card-container{
    display: flex;
    padding: 80px;
    justify-content: center;
}

.discription-container{
    color: white;
}