.footer {
    width: 100vw;
    height: 20vh;
    margin: 0%;
    background-color: rgb(6, 8, 24);
    display: flex;
    justify-content: center;
}

.border-line {
    width: 60%;
    border-top: 2px solid white;
}