.nav-bar {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to left, #21211f, rgb(14, 49, 63));
    display: inline-flex;
    justify-content: center;
    border-radius: 25px 25px 0px 0px;
}

.navigation-title{
    margin: 15px;
    padding: 15px;
}

.label-text {
    font-size: 26px;
    color: aliceblue;
    width: 10vw;
    padding: 10px;
    margin: 2px;
    font-family: Arial, sans-serif;
}

.navigation-bar{
    padding: 10px;
    width: 60vw;
    margin: 10px;
    list-style: none;
    display: inline-flex;
}

.nav-item{
    width: 10vw;
    padding: 10px;
    text-align: center;
    margin: 2px;
}

.navigation-link {
    
    text-decoration: none;
    width: 100vw;
    font-size: 18px;
    color: aliceblue;
}

.link-btn {
    background-color: rgba(0, 0, 0, 0.913);
    color: #fff;
    padding: 15px;
    margin: 0px;
    font-size: 12px;
    border-radius: 25px;
    margin-left: 50px;
}

.link-btn:hover {
    background-color: #000000;
    color: rgba(255, 0, 0, 0.913);
}

.mobile-menu {
    display: none;
}

/* Css for Mobile*/

@media screen and (max-width: 950px) {
    .nav-bar {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        width: 100%;
        background: linear-gradient(to right, #21211f, rgb(21, 60, 220));
        display: row;
        justify-content: center;
        border-radius: 25px 25px 0px 0px;
    }
    .navigation-bar {
        display: none;
    }

    .mobile-menu {
        display: block;
        padding: 10px;
        margin: 10px;
    }
  }